@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Montserrat; /* Имя шрифта */
    src: url(/src/fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }

:root{
    --plyr-color-main: #BD48DA;
    --plyr-font-family:	'Montserrat', sans-serif;
}

body{
    background-color: #1e1e1e;
}

.videoplayer{
    width: 50%;
    margin: auto;
}
